@model IEnumerable<LeonsWeb.Models.Promo>

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTypeToShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartQuotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndQuotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndPromoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPromoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuotesTaked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuotesNotTaked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypeToShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartQuotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndQuotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPromoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPromoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuotesTaked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuotesNotTaked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

